<!doctype>
<html>
  <head>
    <title>Corso AngularJS</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<!--     <script type="text/javascript" src="https://code.angularjs.org/1.4.7/i18n/angular-locale_it-it.js"></script>
 -->    <script type="text/javascript" src="vendor/ui-bootstrap-0.13.4.min.js"></script>
    <script type="text/javascript" src="vendor/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script type="text/javascript" src="data-provider.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="popover.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
    body {
      padding: 20px 0;
    }
    .odd {
      background: #ddd;
    }
    .has-error {
      background: #ff0000;
      color: white;
    }
    </style>
  </head>
  <body ng-app="bitmamaCorsoAngular">
    <div class="container" ng-controller="mainCtrl" ng-class="{'has-error': error}">
      <form name="personAddForm" ng-submit="addPerson(newPerson)">
        <p>
          <label for="name">Nome</label>
          <input type="text" name="name" ng-model="newPerson.name" required>
        </p>
        <p>
          <label for="surname">Surname</label>
          <input type="text" name="surname" ng-model="newPerson.surname" required>
        </p>
        <p>
          <label for="birthdate">Data di nascita</label>
          <input type="text" 
                 name="birthdate" 
                 datepicker-popup 
                 ng-model="newPerson.birthdate" 
                 ng-focus="isOpen = true"
                 is-open="isOpen" 
                 required>
        </p>
        <p>
          <label for="gender">Genere</label>
          <select name="gender" ng-model="newPerson.gender">
            <option value="f">Femmina</option>
            <option value="m">Maschio</option>
          </select>
        </p>
        <p>
          <button type="submit" ng-disabled="!personAddForm.$valid">Aggiungi</button>
        </p>
        <pre>{{newPerson|json}}</pre>
        <pre>{{newPerson.birthdate|date:'HH:mm:ss dd-MM-yy'}}</pre>
      </form>
      <div ng-show="error">
        {{error.msg}}
      </div>
      <div ng-hide="error">
        <ul>
          <li ng-repeat="person in addrBook" 
              ng-class="{'odd': $odd }" 
              popover="person.birthdate|date:'d MMM yy'"
              text="{{person.name}} {{person.surname}}">
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
